
<section class="sec">
    <h2>SMART SOCKS</h2>
<div>
  <section class="sec1">
    <div class="figure1">
    <figure><img src="https://media.gettyimages.com/photos/midsection-of-doctor-consulting-patient-at-hospital-picture-id932533514" class="img1" /></figure>
    <a [routerLink]="['../login2']" class="btn blue-grey" id="btnn">Medecin</a>
  </div></section>
  <section class="sec2"><div class="figure2">
    <figure><img src="https://media.gettyimages.com/photos/runner-feet-running-on-road-closeup-on-shoe-picture-id918789438" class="img1"/></figure>
    <a [routerLink]="['../login']" class="btn blue-grey" id="btnn">Patient</a>
  </div></section>
  <section class="sec3"><div class="figure3">
    <figure><img src="https://media.gettyimages.com/photos/closeup-of-hands-on-computer-keyboard-picture-id985028902" class="img1" /></figure>
    <a [routerLink]="['../login3']" class="btn blue-grey" id="btnn">Administrateur</a>
  </div></section>
</div>
</section>
<router-outlet></router-outlet>
