

<nav class="blue-grey z-depth-0">
    <div class="navbar-fixed">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a [routerLink]="['../profilpat']">Mon Profil</a></li>
        <li><a [routerLink]="['../exercices']">Liste d'exercice</a></li>
        <li><a [routerLink]="['../docinfo']" >Medecin</a></li>
        <li><div class="search-container">
            <div class="search-icon-btn">
              <i class="fa fa-search"></i>
            </div>
            <div class="search-input">
              <input type="search" class="search-bar" placeholder="Search...">
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  
<h4 style="margin-left: 10px">Liste des médecins</h4>

<table>
  <thead>
      <tr>
          <th>Nom et Prenom</th>
          <th>Tel</th>
          <th>Email</th>
          <th>Action</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>med1</td>
          <td>23300300</td>
          <td>med1@gmail.com</td>
          <td><div>
              <a [routerLink]="['/contactmed']"><button class="button-three">envoyer un message</button></a>
          </div>
          <div>
            <button class="button-three">supprimer</button>
          </div></td>
      </tr>
      <tr>
          <td>med2</td>
          <td>34000000</td>
          <td>med2@gmail.com</td>
          <td><div>
              <a [routerLink]="['/contactmed']"><button class="button-three">envoyer un message</button></a>
          </div>
          <div>
            <button class="button-three">supprimer</button>
          </div></td>
      </tr>
      <tr>
          <td>med3</td>
          <td>32000600</td>
          <td>med3@gmail.com</td>
          <td><div>
              <a [routerLink]="['/contactmed']"><button class="button-three">envoyer un message</button></a>
          </div>
          <div>
            <button class="button-three">supprimer</button>
          </div></td>
      </tr>
      <tr>
          <td>med4</td>
          <td>28600500</td>
          <td>med1@gmail.com</td>
          <td><div>
              <a [routerLink]="['/contactmed']"><button class="button-three">envoyer un message</button></a>
          </div>
          <div>
            <button class="button-three">supprimer</button>
          </div></td>
      </tr>
  </tbody>
</table>
<router-outlet></router-outlet>
