<nav class="blue-grey z-depth-0">
    <div class="navbar-fixed">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a [routerLink]="['../profilmed']">Mon Profil</a></li>
        <li><a [routerLink]="['../exercices2']">Consulter les exercices</a></li>
        <li><a [routerLink]="['../patientinfo2']" >Patient</a></li>
        <li><a [routerLink]="['../ajoutexercice']" >ajouter un exercice</a></li>
        <li><div class="search-container">
            <div class="search-icon-btn">
              <i class="fa fa-search"></i>
            </div>
            <div class="search-input">
              <input type="search" class="search-bar" placeholder="Search...">
            </div>
          </div></li>
          
      </ul>
    </div>
  </nav>

  <h4 style="margin-left: 10px">Liste des exercices</h4>
<table>
   <thead>
       <tr>
           <th>Patient</th>
           <th>Type</th>
           <th>Description</th>
           <th>Durée</th>
           <th>Statistiques</th>
       </tr>
   </thead>
   <tbody>
       <tr>
           <td>1</td>
           <td>  <div class="container">
                
                       <select name="type" id="type" class="form-control">
                         <option selected>type</option>
                         <option value="1">Marche</option>
                         <option value="2">Course</option>
                       </select>
                     
                   </div></td>
           <td></td>
           <td><div class="container">
                
                       <select name="type" id="type" class="form-control">
                         <option selected>Durée</option>
                         <option value="1">30min</option>
                         <option value="2">1h</option>
                         <option value="3">2h</option>
                       </select>
                     
                   </div></td>
           <td><div id="container1">
              <a [routerLink]="['/pressionplantaire']">
              <button class="learn-more">
                <div class="circle">
                  <span class="icon arrow"></span>
                </div>
                <p class="button-text">Détails</p>
              </button></a>
            </div></td>
       </tr>
       <tr>
           <td>2</td>
           <td> <div class="container">
               
                       <select name="type" id="type" class="form-control">
                         <option selected>type</option>
                         <option value="1">Marche</option>
                         <option value="2">Course</option>
                       </select>
                  
                   </div></td>
          <td></td>
           <td> <div class="container">
                
                       <select name="type" id="type" class="form-control">
                         <option selected>Durée</option>
                         <option value="1">30min</option>
                         <option value="2">1h</option>
                         <option value="3">2h</option>
                       </select>
                  
                   </div></td>
           <td><div id="container1">
              <a [routerLink]="['/pressionplantaire']">
              <button class="learn-more">
                <div class="circle">
                  <span class="icon arrow"></span>
                </div>
                <p class="button-text">Détails</p>
              </button></a>
            </div></td>
       </tr>
  
   </tbody>
 </table>

