
<nav class="blue-grey z-depth-0">
    <div class="navbar-fixed">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a [routerLink]="['../profilmed']">Mon Profil</a></li>
        <li><a [routerLink]="['../exercices2']">Consulter les exercices</a></li>
        <li><a [routerLink]="['../patientinfo2']" >Patient</a></li>
        <li><a [routerLink]="['../ajoutexercice']" >ajouter un exercice</a></li>
        <li class="sec2"><div class="btn" [routerLink]="['../accueil']">Deconnexion</div></li>
      </ul>
    </div>
  </nav>
  
  
  <router-outlet></router-outlet>