<div class="container">

    <div class="form-sec">
      <h4>Modifier le compte </h4>
      
     <form name="qryform" id="qryform" method="post" action="mail.php" onsubmit="return(validate());" novalidate="novalidate">
        <div class="form-group">
          <label>Nom:</label>
          <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group">
            <label>Prénom:</label>
            <input type="text" class="form-control" id="name" name="name">
          </div>
          <div class="form-group">
              <label>Date de naissance:</label>
              <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="form-group">
                <label>Adresse:</label>
                <input type="text" class="form-control" id="name" name="name">
              </div>
        <div class="form-group">
          <label>Email:</label>
          <input type="email" class="form-control" id="name"  name="email">
        </div>
        
        <div class="form-group">
          <label>Numéro de téléphone:</label>
          <input type="text" class="form-control" id="phone" placeholder="(+216)" name="phone">
        </div>	 
        <div class="form-group">
            <label>Mot de passe:</label>
            <input type="text" class="form-control" id="name" name="name">
          </div>
      
        
        <button type="submit" class="btn btn-default" [routerLink]="['../profiladmin']">Modifier</button>
        <button type="reset" class="btn btn-default" style="margin-left: 15px">Réinitialiser</button>
      </form>
      </div>
    
    
    </div>
